# Stage status to start server:
#   - "dev", for start server without graceful shutdown
#   - "prod", for start server with graceful shutdown
STAGE_STATUS="dev"

# Server settings:
SERVER_HOST="0.0.0.0" #"0.0.0.0"
SERVER_PORT=8081 #8080
SERVER_READ_TIMEOUT=60 #60

# Database settings:
DB_TYPE="pgx"
DB_HOST="HOST"
DB_PORT="PORT"
DB_USER="USER"
DB_PASSWORD="PASSWORD"
DB_NAME="moci"
DB_SSL_MODE="disable"
DB_MAX_CONNECTIONS=10
DB_MAX_IDLE_CONNECTIONS=5
DB_MAX_LIFETIME_CONNECTIONS=2

DB_URL="postgres://"USER":"PASSWORD"@"HOST":"PORT"/moci?sslmode=disable"